@model IEnumerable<AquaBackend.Models.Reports>
@{
    ViewData["Title"] = "Performance Review";
}

    <h3>Reportes Performance Review</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Asset Class
            </th>
            <th>
                Sub Asset Class
            </th>
            <th>
                Fondo
            </th>
            <th>
                Fecha
            </th>
            <th>
                Ultima Actualización
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Custom1
            </td>
            <td>
                @item.Custom2
            </td>
            <td>
                @item.Report
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.LastUpdate
            </td>
            <td>
                @*Ver Reporte*@
                <a class="btn btn-primary float-left" target="_blank" href="@Url.Action("ViewFundPerformanceReport", "Reports", new { description = item.Description, report = item.Report, custom1 = item.Custom1, custom2 = item.Custom2 })">
                    Ver Reporte
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>