@model IEnumerable<AquaBackend.Models.MarketSummary>
@{
    ViewData["Title"] = "ViewMarketSummaries";
}

<h1>Resumen del Mercado</h1>
<a class="btn btn-primary" asp-area="" asp-controller="MarketSummaries" asp-action="ViewMarketSummaries">Actualizar</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Market Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ShortName
                </td>
                <td>
                    @item.RegularMarketPrice
                    <div style="font-size:small">
                        @if (item.RegularMarketChange.StartsWith("-"))
                        {
                            <label style="color:red;">@String.Format("{0} ({1})", @item.RegularMarketChange, @item.RegularMarketChangePercent)</label>
                        }
                        else
                        {
                            <label style="color:green;">@String.Format("{0} ({1})", @item.RegularMarketChange, @item.RegularMarketChangePercent)</label>
                        }
                    </div>
                </td>
                <td>
                    @item.RegularMarketTime
                    <div style="font-size:x-small">
                        @item.ExchangeTimezoneName
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>